<div class="container px-5">
    <div class="container-md px-5 py-3 text-center" style="background-color: white;border-radius:25px">
        <h3 class="text-primary">THỐNG KÊ DOANH THU</h3>
        <div class="row align-items-center border-bottom py-3">
            <div class="col-4">Tháng</div>
            <div class="col-4">Chỉ tiêu</div>
            <div class="col-4">Tổng doanh thu</div>

        </div>
        {{#each turnover}}
        <div class="row align-items-center border-bottom py-2">
            <div class="col-4">{{this.Thang}}/{{this.Nam}}</div>
            <div class="col-4">{{this.ChiTieu}}</div>
            <div class="col-4">{{this.TongDoanhThu}}đ</div>

        </div>
        {{/each}}



        <div class="row text-center mt-5 mb-3">
            <div class="col">
                <ul class="pagination justify-content-center">
                    <li class="page-item{{#eq page 1}} disabled{{/eq}}">
                        <a class="page-link" href="/manager/turnover?page={{sub page 1}}">Trước</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="/manager/turnover?page=1">1</a></li>
                    <li class="page-item"><a class="page-link" href="/manager/turnover?page=2">2</a></li>
                    <li class="page-item">
                        <a class="page-link{{#eq page 2}} disabled{{/eq}}"
                            href="/manager/turnover?page={{sum page 1}}">Tiếp</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-md px-5 py-3 text-center" style="background-color: white;border-radius:25px">
        <h3 class="text-primary">
            TOP 20 SẢN PHẨM BÁN CHẠY THÁNG {{#with month}}{{this}}{{/with}}-{{#with year}}{{this}}{{/with}}
            </h3>
        <div class="row align-items-center border-bottom py-3">
            <div class="col-1">ID</div>
            <div class="col-1">Ảnh</div>

            <div class="col">
                <div class="row">Sản phẩm</div>
            </div>

            <div class="col-2"> Giá bán</div>
            <div class="col-2"> Số lượng tồn</div>
            <div class="col-2"> Đã bán</div>
            <div class="col-1">Sửa</div>
            <div class="col-1">Xoá</div>
        </div>
        {{#each products}}
        <div class="row align-items-center border-bottom py-2">
            <div class="col-1">{{this.MaSP}}</div>
            <div class="col-1">
                <img src="/img/product-mix3.png" width="100%" alt="">
            </div>

            <div class="col">
                <div class="row">{{this.TenSP}}</div>
            </div>

            <div class="col-2">{{this.GiaBan}}đ</div>
            <div class="col-2">{{this.TongSoLuongTon}}</div>
            <div class="col-2">{{this.SLBan}}</div>
            <div class="col-1">
                <a href="/manager/products/{{this.MaSP}}">
                    <i class='bx bx-edit' style="font-size: 30px;"></i>
                </a>
            </div>
            <div class="col-1 text-danger">
                <span>
                    <a style="text-decoration:none;font-size:30px" class="text-danger"
                        href="/manager/removeProduct?productID={{this.MaSP}}"><i class="bx bxs-x-square"></i></a>
                </span>
            </div>

        </div>
        {{/each}}
    </div>
</div>